.nav.nav-pills
	.container
		.nav.nav-pills#nav-scroll
			li.active(role="presentation")
				a(href="/") 主页
			li(role="presentation")
				a(href="/admin/list") 列表
			li(role="presentation")
				a(href="/admin/book") 新增
			li(role="presentation")
				a(target="_blank",href="http://www.bootcss.com/") 友情链接
			li.navbar-right(role="presentation")
				a(target="_blank", href="https://github.com/pengqiangsheng/books") 关于本站
.bs-docs-header
	.container
		h1 #{title}
		small 书中自有黄金屋，书中自有颜如玉。