.nav.nav-pills
	.container
		.nav.nav-pills#nav-scroll
			li.active(role="presentation")
				a(href="/") 主页
			li(role="presentation")
				a(href="/admin/list") 列表
			li(role="presentation")
				a(href="/admin/book") 新增
			li(role="presentation")
				a(target="_blank",href="http://www.bootcss.com/") 友情链接
			li.navbar-right(role="presentation")
				a(target="_blank", href="https://github.com/pengqiangsheng/books") 关于本站
.bs-docs-header
	.container
		h1 #{title}
		small 书中自有黄金屋，书中自有颜如玉。
.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/") 书屋
		if user
			p.navbar-text.navbar-right
				span 欢迎您,#{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/logout") 登出
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") 注册
				span &nbsp;|&nbsp;
				a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signup")
				.modal-header 注册
				.modal-body
					.form-group
						label(for="signupName") 用户名
						input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPwd") 密码
						input#signupPwd.form-control(name="user[pwd]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signin")
				.modal-header 登录
				.modal-body
					.form-group
						label(for="signinName") 用户名
						input#signinName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signinPwd") 密码
						input#signinPwd.form-control(name="user[pwd]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交