link(rel="icon",href="/images/book.png",type="image/x-icon")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/mycss.css", rel="stylesheet")
script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/nav.js")